<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Projeto Horta

      

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Projeto Horta</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Início do Projeto Horta em Ionic</strong>
    <p>Acompanhe Meus Projetos no Github <a target="_blank" rel="noopener noreferrer" href="https://github.com/arthursilvs">Clicando Aqui</a></p>
  </div>

  

  
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ion-content>
